<div class="cards-row">
    <div class="card !bg-red-500">
      <div class="card-title">
        <span>Total Sales</span>
        <i class="fa-solid fa-dollar-sign"></i>
      </div>
      <div class="card-value">{{(totalRevenue() || 0) | number}} L.E</div>
    </div>
    <div class="card !bg-blue-500">
      <div class="card-title">
        <span>Total Products</span>
        <i class="fa-solid fa-basket-shopping"></i>
      </div>
      <div class="card-value">{{(totalProducts() || 0) | number}} item</div>
    </div>
    <div class="card !bg-green-500">
      <div class="card-title">
        <span>Total Pets</span>
        <i class="fa-solid fa-dog"></i>
      </div>
      <div class="card-value">{{(totalPets() || 0) | number}} Baby's</div>
    </div>
    <div class="card !bg-orange-500">
      <div class="card-title">
        <span>Total Orders</span>
        <i class="fa-regular fa-money-bill-1"></i>
      </div>
      <div class="card-value">{{(totalOrders() || 0) | number}} order</div>
    </div>
  </div>
  <div class="main-row">
    <div class="main-card">
      <div class="main-card-header mx-5 mt-5">
        <span class="tab active">Orders</span>
      </div>
      <div class="w-full p-0 md:p-14">
        <app-chart [data]="dataOrder" [options]="optionsOrder" />
      </div>      
    </div>
    <div class="side-list">
      <div class="main-card-header">
        <span class="tab active">Sales</span>
      </div>      
      <div class="w-full ">
        <app-chart [data]="data" [options]="options"  />
      </div>      
    </div>
  </div>