<div class="container mx-auto my-12 h-screen">  
    <ng-container *ngIf="favorites$ | async as favorites">
      <h1 class="mb-8 sm:mx-0 mx-4">
        <span class="text-3xl font-bold text-brand-color">{{'Pages.Auth.Favorate_Page.Title' | translate}} </span>
        <span class="text-xl font-medium text-fourth-color">({{favorites.length}} {{'Pages.Auth.Favorate_Page.Items' | translate}})</span>
      </h1>
      
      <ng-container *ngIf="favorites.length === 0 && !isLoading; else loadingOrProducts">
        <!-- No products -->
        <div class="text-center text-fourth-color text-lg py-16">
          <h1>{{'Pages.Auth.Favorate_Page.If_Empty' | translate}}</h1>
        </div>
      </ng-container>
      
      <ng-template #loadingOrProducts>
        <ng-container *ngIf="isLoading; else productsList">
          <!-- Loading skeleton -->
          <app-products-page-skelton />
        </ng-container>
        
        <ng-template #productsList>
          <!-- Products list -->
          <div class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6 mt-10 m-10 sm:m-0">
            <app-product-card *ngFor="let product of favorites" [product]="product" [isWishlist]="true" [calculateDiscountPercentage]="calculateDiscountPercentage"/>
          </div>
        </ng-template>
      </ng-template>
      
    </ng-container>
  </div>
  