<div class="container mx-auto my-12 ">
    <app-page-title [title]="'Favorites'" />
  
    <ng-container *ngIf="favorites$ | async as favorites">
      <ng-container *ngIf="favorites.length === 0 && !isLoading; else loadingOrProducts">
        <!-- No products -->
        <div class="text-center text-fourth-color text-lg py-16">
          <h1>No Products in Your Favorite page!</h1>
        </div>
      </ng-container>
      
      <ng-template #loadingOrProducts>
        <ng-container *ngIf="isLoading; else productsList">
          <!-- Loading skeleton -->
          <app-products-page-skelton />
        </ng-container>
        
        <ng-template #productsList>
          <!-- Products list -->
          <div class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6 mt-10 m-10 sm:m-0">
            <app-product-card *ngFor="let product of favorites" [product]="product" [isWishlist]="true" [calculateDiscountPercentage]="calculateDiscountPercentage"/>
          </div>
        </ng-template>
      </ng-template>
      
    </ng-container>
  </div>
  