<main [dir]="currentLang === 'en' ? 'ltr' : 'rtl'" class="flex flex-col min-h-screen" [ngStyle]="shouldShowLayout() ? { 'margin-top': '100px' } : {}">
  <!-- Header -->
  <app-header *ngIf="shouldShowLayout()"/>

  <!-- Content -->
  <div class="bg-seconed-color flex-1 pb-10">
    <router-outlet />
    <app-language-toggle />

    @if (currentLang === 'en') {
      <p-toast position="bottom-right"></p-toast>
    } @else {
      <p-toast position="bottom-left"></p-toast>
    }
  </div>
  
  <!-- Footer -->
  <app-footer *ngIf="shouldShowLayout()"/>
</main>