<div class="register-container -mb-10">
  <div class="left-panel relative">
    
    <a routerLink="/" class="icon-back-btn fixed-top-left" title="Back to Home">
      <i class="fa-solid fa-left-long"></i>
    </a>
    <div class="register-form-container">     
      <h1>Create Account</h1>
      <p class="welcome-text">Join our community today!</p>

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form relative">
        <app-section-spinner *ngIf="isLoading"/>

        <!-- Name -->
        <div class="form-group">
          <div class="input-container" [ngClass]="{ 'input-error': registerForm.get('name')?.invalid && registerForm.get('name')?.touched }">
            <input type="text" id="name" formControlName="name" placeholder="Enter your full name" class="input-field"/>
            <img src="https://api.iconify.design/heroicons:user.svg" alt="user" class="input-icon">
          </div>
          <div class="error-message" *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.invalid">
            <span *ngIf="registerForm.get('name')?.errors?.['required']">Name is required.</span>
            <span *ngIf="registerForm.get('name')?.errors?.['minlength']">Name must be at least 3 characters.</span>
          </div>
        </div>

        <!-- Email -->
        <div class="form-group">
          <div class="input-container" [ngClass]="{ 'input-error': registerForm.get('email')?.invalid && registerForm.get('email')?.touched }">
            <input type="email" id="email" formControlName="email" placeholder="Enter your email" class="input-field"/>
            <img src="https://api.iconify.design/heroicons:envelope.svg" alt="email" class="input-icon">
          </div>
          <div class="error-message" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">
            <span *ngIf="registerForm.get('email')?.errors?.['required']">Email is required.</span>
            <span *ngIf="registerForm.get('email')?.errors?.['email']">Invalid email format.</span>
          </div>
        </div>

        <!-- Password -->
        <div class="form-group">
          <div class="input-container" [ngClass]="{ 'input-error': registerForm.get('password')?.invalid && registerForm.get('password')?.touched }">
            <input [type]="passwordVisible ? 'text' : 'password'" id="password" formControlName="password" placeholder="Create a password" class="input-field"/>
            <img [src]="passwordVisible ? 'https://api.iconify.design/heroicons:eye-slash.svg' : 'https://api.iconify.design/heroicons:eye.svg'" alt="toggle password" class="input-icon toggle-icon" (click)="togglePasswordVisibility()">
          </div>
          <div class="error-message" *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid">
            <span *ngIf="registerForm.get('password')?.errors?.['required']">Password is required.</span>
            <span *ngIf="registerForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters.</span>
          </div>
        </div>

        <!-- Submit -->
        <button type="submit" class="register-button" [disabled]="registerForm.invalid">
            Create Account
        </button>

        <!-- Login Option -->
        <div class="login-option">
          Already have an account? <a routerLink="/auth/login" class="login-link">Login</a>
        </div>
      </form>
    </div>
  </div>

  <div class="right-panel">
    <img src="backgrounds/auth-page/auth-background.png" alt="Decorative image" class="background-image">
  </div>
</div>
