.home-page {
  overflow-x: hidden;
}

/* Services Section */
.services-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  position: absolute;
  bottom: -80px;
  right: 0;
  left: 0;
}

button {
  background: none;
  border: 1px solid var(--brand-color);
  color: var(--brand-color);
  padding: 0.5rem 2rem;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background: var(--brand-color);
  color: var(--secondary-color);
}
