<div class="home-page min-h-screen">
    <!-- Hero Section -->
    <div class="hero-section relative">
      <app-hero-section imageUrl="backgrounds/home-hero/hero-background.png" [title]="('Pages.Home.Hero.Title' | translate)" [description]="('Pages.Home.Hero.Subtitle' | translate)"/>
    </div>

    <!-- Blogs Section -->
    <section class="mt-10">
      <div class="container mx-auto">
        <app-page-title [title]="('Pages.Blogs.Title' | translate)" [description]="('Pages.Blogs.Description' | translate)"class="mb-12"/>
        <app-slider [items]="[2, 3, 4, 5, 6]">
          <ng-template #itemTemplate let-pet>
            <app-blog-cards [isInSlider]="true" />
          </ng-template>
          
          <app-global-button slider-footer [routerLink]="'/blogs'" [text]="'Global.View_Btn'" buttonStyle="dark-bg"/>
        </app-slider>
      </div>
    </section>
  </div>