<section class="flex flex-col gap-y-5 mt-10 relative">
  <app-dashboard-button (clicked)="onShowDialog($event)" [icon]="'pi pi-plus'" [label]="('Dashboard.Admin.Sidebar_Links.Users.Data_Table.Btns.Add' | translate)"/>
  <app-data-table [hasActions]="false" [hasImage]="true" [data]="allUsers" [columns]="columns"/>

  <p-dialog [header]="('Dashboard.Admin.Sidebar_Links.Users.Data_Table.Btns.Title' | translate)" [(visible)]="showDialog" [modal]="true" [dismissableMask]="true" [draggable]="false" [resizable]="false" [style]="{ width: '500px' }" [breakpoints]="{ '960px': '90vw', '640px': '95vw' }">
        <form class="p-4 sm:p-6 space-y-6" #formRef="ngForm" (ngSubmit)="onAddSerivce()" novalidate>
            <div class="card flex flex-col gap-6">

                <!-- User Name -->
                <div class="card flex flex-col justify-content-center my-3">
                    <p-floatLabel class="w-full">
                        <input id="productName" name="productName" pInputText [(ngModel)]="form.name" required #nameRef="ngModel" class="w-full" />
                        <label for="productName">{{'Dashboard.Admin.Sidebar_Links.Users.Form.User_Name.Label' | translate}}</label>
                    </p-floatLabel>
                    <small *ngIf="nameRef.invalid && nameRef.touched" class="p-error ml-2">{{'Dashboard.Admin.Sidebar_Links.Users.Form.User_Name.Required' | translate}}</small>
                </div>

                <!-- User email -->
                <div class="card flex flex-col justify-content-center mb-3">
                    <p-floatLabel class="w-full">
                        <input id="email" name="email" type="email" pInputText [(ngModel)]="form.email" required email #emailRef="ngModel" class="w-full"/>
                        <label for="email">{{'Dashboard.Admin.Sidebar_Links.Users.Form.Email.Label' | translate}}</label>
                    </p-floatLabel>

                    <!-- Error Message -->
                    <small *ngIf="emailRef.invalid && emailRef.touched" class="p-error ml-2">
                        <ng-container *ngIf="emailRef.errors?.['required']">
                            {{'Dashboard.Admin.Sidebar_Links.Users.Form.Email.Required' | translate}}
                        </ng-container>
                        <ng-container *ngIf="emailRef.errors?.['email']">
                            {{'Dashboard.Admin.Sidebar_Links.Users.Form.Email.Invalid' | translate}}
                        </ng-container>
                    </small>
                </div>

                <!-- Password Field -->
                <div class="card flex flex-col justify-content-center w-full mb-3">
                    <p-floatLabel class="w-full">
                        <p-password id="password" name="password" [(ngModel)]="form.password" [feedback]="false" [toggleMask]="true" [inputStyle]="{ width: '100%' }" required #passwordRef="ngModel"></p-password>
                        <label for="password">{{'Dashboard.Admin.Sidebar_Links.Users.Form.Password.Label' | translate}}</label>
                    </p-floatLabel>

                    <!-- Error Message -->
                    <small *ngIf="passwordRef.invalid && passwordRef.touched" class="p-error ml-2">
                        {{'Dashboard.Admin.Sidebar_Links.Users.Form.Password.Required' | translate}}                    
                    </small>
                </div>

                <!-- Role -->
                <div dir="ltr" class="card flex flex-col justify-content-center w-full mb-3">
                    <p-selectButton id="role" name="Role" [options]="stateOptions" [(ngModel)]="form.role" optionLabel="label" optionValue="value"/>
                </div>
            </div>

            <!-- Submit Button -->
            <div class="flex justify-end gap-3 pt-4">
                <p-button [label]="('Dashboard.Admin.Sidebar_Links.Users.Form.Btn' | translate)" icon="pi pi-check" type="submit" class="custom-add-button" [disabled]="formRef.invalid || !form.role || !form.name || !form.email || !form.password"></p-button>
            </div>
        </form>
  </p-dialog>
    <app-section-spinner *ngIf="isLoading"/>
</section>