<section class="flex flex-col gap-y-5 mt-10 relative">
    <app-dashboard-button (clicked)="onShowDialog($event)" [icon]="'pi pi-plus'" [label]="'Add blog'"/>
    <app-data-table [hasActions]="false" [hasImage]="true" [data]="blogs$ | async" [columns]="columns"/>

  <p-dialog header="Add New Blog" [(visible)]="showDialog" [modal]="true" [dismissableMask]="true" [draggable]="false" [resizable]="false" [style]="{ width: '500px' }"[breakpoints]="{ '960px': '90vw', '640px': '95vw' }">
    <form class="p-4 sm:p-6 space-y-6" #formRef="ngForm" (ngSubmit)="onAddBlog()" novalidate>
      <div class="card flex flex-col gap-6">
        <!-- Description -->
        <p-floatLabel>
          <input name="title" id="description" pInputText [(ngModel)]="form.description" required #titleRef="ngModel"/>
          <label for="description">Description</label>
        </p-floatLabel>

        <!-- Blog Link -->
        <p-floatLabel>
          <input name="link" id="blog-link" pInputText [(ngModel)]="form.link" required #linkRef="ngModel"/>
          <label for="blog-link">Blog Link</label>
        </p-floatLabel>

        <!-- File Upload -->
        <p-fileUpload styleClass="custom-upload" #fileUploader name="img" [customUpload]="true" mode="basic" accept="image/*" chooseLabel="Blog Image" chooseIcon="pi pi-image" (uploadHandler)="handleImageUpload($event)" [auto]="true"/>

        <!-- Preview + Remove -->
        <div *ngIf="form.imgPreview" class="relative w-32 h-32 mt-4">
          <img [src]="form.imgPreview" alt="Image Preview" class="w-full h-full object-cover rounded shadow" />
          <button type="button" (click)="removeImage(); fileUploader.clear()" class="absolute top-0 right-0 bg-red-500 text-white text-xs rounded-full px-2 py-0.5">
            ✕
          </button>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="flex justify-end gap-3 pt-4">
        <p-button label="Add" class="custom-add-button" icon="pi pi-check" [disabled]="formRef.invalid || !form.plogImage" type="submit"></p-button>
    </div>
  </form>
  </p-dialog>

  <app-section-spinner *ngIf="isLoading"/>
</section> 


